@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed; 
}

/* --------------- font sizes ----------------- */
h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

p, input, textarea {
    font-size: 1.05vw;
}
/* --------------- END font sizes ----------------- */


/* -------------------- Header styles ------------------- */
header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 3rem;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #A7A2FF;
    border-radius: 1.5rem;
    li:last-child {
        background-color: white;
        box-shadow: 0 0 0 0.625rem white;        
        border-radius: 1rem;
    }
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    padding: 0;
}

.reader p {
    font-size: 1.25vw;
}
/* -------------------- END Header styles ------------------- */

aside { /* form parent container */
    width: 60%;
}

/* ------------------------- Login styles -------------------- */
form {
    text-align: center;
    border: 0.125rem solid black;
    border-radius: 0.25rem;
    padding: 1.25rem;
    background-color: #A7A2FF;
}

form h1 {
    margin-bottom: 0.625rem;
}

input{
    font-size: 1rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    width: 90%;
    border: none;
    resize: none;
}

textarea {
    font-size: 1rem;
    font-family: 'OpenSans';
    border: none;
    resize: none;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    width: 90%;
    height: 15rem;
}

.action {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0 auto;
    display: block;
    width: 40%;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    background-color: white;
}

/* ------------------------- END Login styles -------------------- */

/* ------------------------- Pop-up styles -------------------- */

.popup {
    visibility: hidden;
    border: 0.25rem solid black;
    background-color: cyan;
    width: 20rem;
    border-radius: 0.25rem;
    position: absolute;
}

.children {
    padding: 1rem;
    .action {
        margin-top: 2rem;
    }
}



/* ------------------------- END Pop-up styles -------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* --------------------------------- MOBILE view -------------------------- */
@media (max-width: 768px) {
    body {
        flex-direction: column;  
        text-align: center;
        margin: 0;
    }

    h1 {
        font-size: 7vw; 
    }

    h2 {
        font-size: 5vw;
    }

    p {
        font-size: 4vw;
    }

    header {
        width: 100%;  
    }

    .reader p {
        font-size: 5vw;
    }

    .reader ul {
        gap: 1.25rem;
    }

    .wrapper {
        width: 95%;
    }

    aside {
        width: 95%;
    }
}