@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed; /* keeps the gradient fixed while scrolling */
}

/* ----------------- font sizes ---------------- */

h1 {
    font-size: 2vw;
    margin-bottom: 0.625rem;
}

h2 {
    font-size: 1.5vw;
}

p, .work {
    font-size: 1.05vw;
}

/* ----------------- END font sizes ---------------- */

/* ------------------- Header styles --------------------- */
header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #A7A2FF;
    border-radius: 1.5rem;
    li:last-child {
        background-color: white;
        box-shadow: 0 0 0 0.625rem white;        
        border-radius: 1rem;
    }
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    padding: 0;
}

.reader p {
    font-size: 1.25vw;
}

/* ------------------- END Header styles --------------------- */

/* ------------------------- Academic qualification styles ----------------------- */
article {
    text-align: center;
    width: 100%;
    margin-bottom: 1.25rem;
}

.education{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 2.5rem;
}

.alevel, .university {
    text-align: center;
    border-radius: 0.25rem;
    background: #E6E6FA;   
}

.university {
    width: 70%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
    img {
        width: 2rem;
        border-radius: 1.5rem;
        margin: 0;
    }
}

.desc {
    padding: 0.625rem;
}

/* ------------------------- END Academic qualification styles ----------------------- */

/* --------------------------- Work history styles -------------------------- */
.work {
    display: grid;
    grid-template-rows: repeat(2, auto); /* creates 2 rows with height adjusting based off on items inside */
}

.worktitle {
    display: flex;
    flex-wrap: wrap; /* allow text to wrap properly */
    gap: 0.625rem;
    justify-content: space-between;
}

.date {
    float: right;
}

.row {
    display: flex;
    flex-direction: column;
    border-bottom: 0.09875rem solid black;
    padding: 1.25rem;
    gap: 1.25rem;
    text-align: left;
    background: #E6E6FA;   
}

.row:last-child {
    border-bottom: none;
}

/* --------------------------- END Work history styles -------------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* ------------------------- MOBILE view ----------------------- */
@media (max-width: 768px) {
    body {
        flex-direction: column;  /* stack the elements vertically */
        text-align: center;
        margin: 0 auto;
        padding-top: 1.25rem;
        min-height: 100vh; /* ensures it covers the whole screen */
    }

    h1 {
        font-size: 5vw; 
    }

    h2 {
        font-size: 4.5vw;
    }

    p, .row {
        font-size: 4vw;
    }

    header {
        width: 100%;  /* full width on mobile */
    }

    .reader p {
        font-size: 3.5vw;
    }

    .reader ul {
        gap: 1.25rem;
    }

    article {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 1.25rem;
    }

    .education{
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
    }

    .alevel, .university {
        width: 90%; 
    }

    .title img{
        width: 10%;
        border-radius: 1.5rem;
        margin: 0;
    }

    .wrapper {
        margin: 0 auto;
        width: 95%;
    }
}