@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center; /* by setting display to flex, i can vertically/horizontally centre everything inside body */
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed;
}

/* ------------------------- Font sizes -------------------------- */

h1 {
    font-size: 3vw;
    margin-bottom: 0.625rem;
}

a, h2, em, p {
    font-size: 2vw;
}

footer {
    font-size: 1.05vw;
}

/* ------------------------- END Font sizes -------------------------- */

/* -------------------- Header style -------------------- */

header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 3rem;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #A7A2FF;
    border-radius: 1.5rem;
    li:last-child {
        background-color: white;
        box-shadow: 0 0 0 0.625rem white;        
        border-radius: 1rem;
    }
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    padding: 0; /* remove space added by bullet points */
}

.reader p {
    font-size: 1.25vw;
}

/* -------------------- END Header style -------------------- */


/* -------------------- Landing page desc styles --------------------- */
article {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

hr {
    border: 0.0625rem solid black;
    width: 70%;
    margin-bottom: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 2rem;
}

figure img {
    border-radius: 1rem;
    width: 60%;
    margin-bottom: 2rem;
}

aside {
    background-color: #A7A2FF;  
    width: 11%;
    margin: 0 auto;
    border-radius: 2rem;
}

footer {
    margin-bottom: 2rem;
}

/* -------------------- END Landing page desc styles --------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;  /* stack the elements vertically */
        text-align: center;
        margin: 0 auto; /* centre */
        padding-top: 1.25rem;
    }

    h1 {
        font-size: 10vw; 
    }

    p{
        font-size: 6vw;
    }

    footer {
        font-size: 3.5vw;
    }

    a {
        font-size: 6vw;
    }

    hr {
        border: 0.065rem solid black;
        width: 100%;
        margin-left: 0;
    }

    header {
        width: 100%;  /* full width on mobile */
        margin-bottom: 6rem;
    }

    .reader p {
        font-size: 3.5vw;
    }

    .reader ul {
        gap: 1.25rem;
    }

    article {
        justify-content: center;
        width: 95%;
    }

    section {
        gap: 2rem;
    }

    figure img {
        width: 100%;
    }

    aside {
        width: 25%;
    }

    .wrapper {
        width: 95%;
    }

}