@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    text-align: center;
    font-family: 'OpenSans';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); /* Pink to orange gradient */
    background-attachment: fixed;
}

h1 {
    font-size: 2vw;
    margin-bottom: 0.625rem;
}

h2 {
    font-size: 1.25vw;
}

p, em {
    font-size: 1.05vw;
}

/* --------------------------- Blog styles -------------------------- */
.blogs {
    display: grid;
    grid-template-rows: repeat(2, auto); /* creates 2 rows with height adjusting based off on items inside */
    gap: 2.5rem;
}

.blogtitle {
    display: flex;
    flex-wrap: wrap; /* allow text to wrap properly */
    gap: 0.625rem;
    justify-content: space-between;
}

.row {
    display: flex;
    background: #E6E6FA;   
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 1.25rem;
    gap: 1.25rem;
    text-align: left;
}

/* --------------------------- END Blog styles -------------------------- */

/* ------------------------------ Header styles ---------------------- */
header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #A7A2FF;
    border-radius: 1.5rem;
}

.reader ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0;
    li:last-child {
        background-color: white;
        box-shadow: 0 0 0 0.625rem white;        
        border-radius: 1rem;
    }
}

.reader p {
    font-size: 1.25vw;
}
/* ------------------------------ END Header styles ---------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* -------------------------- MOBILE view --------------------- */
@media (max-width: 768px) {
    body {
        flex-direction: column;  
        text-align: center;
        margin: 0 auto;
        padding-top: 1.25rem;
    }

    h1 {
        font-size: 5vw; 
    }

    h2 {
        font-size: 4.5vw;
    }

    p, em {
        font-size: 4vw;
    }

    header {
        width: 100%;  
    }

    .reader p {
        font-size: 3.5vw;
    }

    .reader ul {
        gap: 1.25rem;
    }

    article {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1.25rem;
    }

    .wrapper {
        width: 95%;
    }
}