@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed; /* keeps the gradient fixed while scrolling */
}

/* ----------------- font sizes ---------------- */

h1 {
    font-size: 2vw;
    margin-bottom: 0.625rem;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 1.05vw;
}

/* ----------------- END font sizes ---------------- */

/* ------------------- Header styles --------------------- */
header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
    padding: 0;
}

.reader p {
    font-size: 1.25rem;
}

/* ------------------- END Header styles --------------------- */

/* ------------------------- Academic qualification styles ----------------------- */
article {
    text-align: center;
    width: 100%;
    margin-bottom: 1.25rem;
}

.education{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 60%;
    margin: 0 auto;
    gap: 2.5rem;
    img {
        border-bottom: 0.25rem solid black;
        width: 100%;
        height: 50%;
        margin-bottom: 0.625rem;
    }
}

.column {
    text-align: center;
    border: 0.1875rem solid black;
    border-radius: 0.25rem;
    height: 100%;
    img {
        height: 45%;
    }
}

.desc {
    position: relative;
    padding: 0.625rem;
}

/* ------------------------- END Academic qualification styles ----------------------- */

/* --------------------------- Work history styles -------------------------- */
.work {
    display: grid;
    border: 0.1875rem solid black;
    border-radius: 0.25rem;
    grid-template-rows: repeat(2, auto); /* creates 2 rows with height adjusting based off on items inside */
    gap: 1.25rem;
}

.worktitle {
    display: flex;
    flex-wrap: wrap; /* allow text to wrap properly */
    gap: 0.625rem;
    justify-content: space-between;
}

.date {
    float: right;
}

.row {
    display: flex;
    flex-direction: column;
    border-bottom: 0.125rem solid black;
    padding: 1.25rem;
    gap: 1.25rem;
    text-align: left;
}

/* --------------------------- END Work history styles -------------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

/* ------------------------- MOBILE view ----------------------- */
@media (max-width: 768px) {
    body {
        flex-direction: column;  /* stack the elements vertically */
        text-align: center;
        margin: 0 auto;
        padding-top: 1.25rem;
        min-height: 100vh; /* ensures it covers the whole screen */
    }

    h1 {
        font-size: 5vw; 
    }

    h2 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3vw;
    }

    header {
        width: 100%;  /* full width on mobile */
    }

    .reader p {
        font-size: 3vw;
    }

    article {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1.25rem;
    }

    .education{
        grid-template-columns: 1fr; /* set block level element*/
        margin: 0 auto;
        width: 95%;
    }

    .column {
        width: 95%; /* full width for each column */
    }

    .wrapper {
        margin: 0 auto;
        width: 95%;
    }
}