@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center; /* by setting display to flex, i can vertically/horizontally centre everything inside body */
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed;
}

/* ------------------------- Font sizes -------------------------- */

h1 {
    font-size: 4vw;
    margin-bottom: 0.625rem;
}

h2, em {
    font-size: 2vw;
}

p {
    font-size: 1.05vw;
}

/* ------------------------- END Font sizes -------------------------- */

/* -------------------- Header style -------------------- */

header {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 6rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
    padding: 0; /* remove space added by bullet points */
}

.reader p {
    font-size: 1.25rem;
}

/* -------------------- END Header style -------------------- */


/* -------------------- Landing page desc styles --------------------- */
article {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

hr {
    border: 0.0625rem solid black;
    width: 70%;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 6rem;
}

aside {
    background-color: white;
    width: 12%;
    margin: 0 auto;
    border: 0.125rem solid black;
    border-radius: 0.25rem;
}

/* -------------------- END Landing page desc styles --------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;  /* stack the elements vertically */
        text-align: center;
        margin: 0 auto; /* centre */
        padding-top: 1.25rem;
    }

    h1 {
        font-size: 5vw; /* scale down font size on mobile */
    }

    h2 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3vw;
    }

    hr {
        border: 0.065rem solid black;
        width: 100%;
        margin-left: 0;
    }

    header {
        width: 100%;  /* full width on mobile */
        margin-bottom: 6rem;
    }

    .reader p {
        font-size: 3vw;
    }

    article {
        justify-content: center;
        width: 95%;
    }

    aside {
        width: 50%;
    }

    .wrapper {
        width: 95%;
    }

}