@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    font-family: 'OpenSans';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a2c2e6, #ffffff); 
    background-attachment: fixed; /* Keeps the gradient fixed while scrolling */
}

h1 {
    font-size: 2vw;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 1.05vw;
}

hr {
    border: 1px solid black;
    width: 40%;
    margin-left: 0;
}

header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reader ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

article {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    grid-auto-rows: 1fr; /* Ensures all rows have equal height */
}

.column {
    text-align: center;
    border: 3px solid black;
    border-radius: 4px;
    img {
        border-bottom: 4px solid black;
        width: 100%;
        height: 35%;
        margin-bottom: 10px;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
        width: 8%;
        margin: 0;
        border-bottom: none;
    }
}

.desc {
    padding: 10px;
    img {
        width: 15%;
        margin-top: 10px;
        border-bottom: none;
        border-radius: 16px;
        padding: 10px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;  /* Stack the elements vertically */
        height: auto;  /* Remove the 100vh height */
        text-align: center;
        margin: 0;
        min-height: 100vh; /* Ensures it covers the whole screen */
        background-attachment: fixed; /* Keeps the gradient fixed while scrolling */
    }

    header {
        width: 100%;  /* Full width on mobile */
        margin-bottom: 10px;
    }

    h1 {
        font-size: 5vw; /* Scale down font size on mobile */
    }

    h2 {
        font-size: 4.5vw;
    }

    p {
        font-size: 4vw;
    }
    
    .projects {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .wrapper {
        width: 95%;
    }
}